.load-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    max-width: 500px;
    margin: 20px auto;
    background-color: #212121;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
  }
  
  @media (max-width: 768px) {
    .load-item {
      width: 90%;
    }
  }
  
  .load-item h2 {
    margin: 0;
    font-size: 24px;
    text-align: center;
    color: #fff;
  }
  
  .load-item a {
    color: #fff;
    text-decoration: none;
  }
  
  .load-item a:hover {
    text-decoration: underline;
  }
  
  .load-details {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .load-details .detail {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .load-details .label {
    font-weight: bold;
    margin-right: 5px;
    color: #bdbdbd;
  }
  
  .load-details .value {
    font-style: italic;
    color: #eee;
  }
  